<!-- forbidden.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Access Forbidden</title>
    
</head>
<body>
    <div class="container">
        <div class="alert alert-danger">
            <h1>Access Forbidden</h1>
            <p>You are not approved to register as an instructor.</p>
            <p><a href="{% url 'register_student' %}" class="btn btn-primary">Go to Student Registration</a></p>
        </div>
       
    </div>
</body>
</html>
