# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.db
*.sqlite3
*.log
*.pot
*.py[cod]
instance/
.venv/
env/
venv/
env.bak/
venv.bak/

# Django
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
*.db

# media folder
/media/*

# Django secret key
*.env

# VS Code
.vscode/

# PyCharm
.idea/

# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store

# Other
*.bak
*.swp
